body {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  font-family: Poppins, Arial;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.login-box h2 {
  margin-bottom: 5px;
}

.login-box input,
.login-box select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#msg {
  margin-top: 10px;
  color: red;
}
